$primary: #0e34a0ff;
$secondary: #63a375ff;
$highlight: #058ed9ff;
$accent: #cb429fff;
$tertiary: #fe5f55ff;
$error: #c03221ff;
$text: #343434ff;
$text-dark: #1d100cff;
$bright: #f9f9f9ff;
$white: #ffffff;

$title-font: 1.1em "titillium", sans-serif;

$margin: 16px;
