# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Snowpack
js/**/.build
js/**/build
js/**/web_modules
js/node_modules

# yarn
js/node_modules/

# config
.env.local
mmbt.db
