/* Global css styles */

@font-face {
  font-family: "fira";
  src: url("/fonts/fira/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "titillium";
  src: url("/fonts/titillium/TitilliumWeb-Bold.ttf") format("truetype");
}

body {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
